
#header {
    height: 100px;
    width: 100%;
    background: #ffffff;
    display: inline-block;
}

#name {
    display: inline-block;
    
    background: blue;

}






#bio-image {
    width: 180px;
    height: auto;
}